table, th, td {
    border: 1px solid black;

}

table {
    display: table;
    width: 100%;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
}

th {
    background-color: rgb(41, 48, 100);
    color: rgb(255, 255, 255);
    text-align: center;
}

/* Anti-Break Page */
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown),
html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    height: 100% !important;
    overflow-y: visible !important;
}
