table, th, td {
    border: 1px solid black;

}

table {
    display: table;
    width: 100%;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
}

th {
    background-color: rgb(41, 48, 100);
    color: rgb(255, 255, 255);
    text-align: center;
}

/* Anti-Break Page */
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown),
html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    height: 100% !important;
    overflow-y: visible !important;
}

/* Roll Bars */
::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #04243c;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #198754;
}
